/* #7d7d7d grey #bf8f58 tan #5886bf blue */

body {background-color: #ffffff;
    color: #000000;
}
a:hover {color: #bf9f9f;}
main p {background-color: #7d7d7d;
padding: 20px;
border: 2px solid #000000;
}
nav {background-color: #f1b863;
padding: 10px;
margin-bottom: 30px;
border: 2px solid #000000;
}
nav a{color: #000000;}
nav a:hover{background-color: #818181;}
h1, h2{color: #883737;}
.footquote {float: right;}

a {color: #000000;}

@media only screen and (max-width:500px){
    nav a{display: block}
    nav a{padding: 10px;}
}


